@page
@model TrekBucketListApp.Pages.TrekDisplayModel
@{
    
    <table>
        <tr>
            <td>
                Trek Name : @Model._TrekName    
            </td>
        </tr>
    </table>
    <br/>
    
    foreach (var item in Model.AllTrekList)
    {
         <tr><td><img src=@item.ImageUrl title="@item.ImageName" width="420" height="400"></td></tr>
    }
}